.device-increment-decrement {
    display:flex;
    .ib {
        flex-grow:1;
        margin:5px;
        cursor:pointer;
        border-radius:5px;
        height:30px;
            background-color:rgba(255,255,255,0.5);
        cursor:pointer;
        &::before {
            content:'';
            background-repeat: no-repeat;
            background-position: center;
            width:100%;
            display: inline-block;
            height:100%;
            background-size:20%;
        }
        &:active {
            background-color:#06F;
        }
    }
    .increment::before {
        content:'';
        background-image:url(images/left-dark.svg);
        transform:rotate(90deg);
    }
    .decrement::before {
        content:'';
        background-image:url(images/left-dark.svg);
        transform:rotate(270deg);
    }
}