html {
    background-color:white;
    font-family: "Century Gothic", Arial, Helvetica;
}
.container {
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
}
.topbar {
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    height:50px;
    background-color:#FAFAFA;
}
.sidebar {
    position:absolute;
    left:0px;
    top:40px;
    width:300px;
    bottom:0px;
    background-color:#262F35;
    color:white;
}

.staging {
    position:absolute;
    left:300px;
    top:40px;
    right:0px;
    bottom:30px;
    background-color:white;
}
.bottombar {
    position:absolute;
    left:300px;
    bottom:0px;
    right:0px;
    height:30px;
    background-color:#06F;
}
.device-card {
    display:inline-block;
    margin:10px;
    width:300px;
    border:1px solid gray;
}


/*Styles*/


.iot_header{
	float: left;
    width: 94%;
    padding: 8px 3%;
    background: #FAFAFA;
}
.iot_header .logo{
	float: left;
    width: 70px;
    background: url(images/logo.svg) no-repeat 0 0;
    height: 25px;
}
.iot_header .header_m-logo{
	float: right;
    width: 2.2rem;
    /*background: url(images/M_logo.svg) no-repeat 0 0;*/
    height: 25px;
}
.iot_header .header_m-logo::after{
	content: "";
    background: url(images/M_logo.svg) no-repeat 0 0;
   
}

.footer{
	float: left;
	width: 90%;
	background: #112530;
	padding: 2px 5%;
	position: absolute;
	bottom: 0;
	right: 0;
}
.footer .footer_lft{
	float: left;
    width: 80%;
}
.footer .play-btn{
	float: left;
    width: 35px;
    margin-top: 6px;
}
.footer .play-duration{
	float: left;
	width: 65%;
	background: #ddd;
	height: 10px;
	margin-left: 2%;
	background-color: #707070;
	border-radius: 10px;
	margin-top: 20px;
	position: relative;
}
.footer .play-duration span{
    background: #7a0aa2;
    width: 40%;
    height: 8px;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 1px;
}
.footer .tick{
	float: left;
    width: 23px;
    margin-left: 2%;
    margin-top: 12px;
}

.sidebar .sensors-top{
    width: 80%;
    float: left;
    margin-left: 20px;
}
.sidebar .sensors-top h5{
	float: left;
	width: 50%;
	color: #fff;
	margin-top: 20px;
	font-size: 1.1rem;
	font-weight: bold;
}
.sidebar .sensors-top .sensors-icon{
	float: right;
    width: 16%;
    margin-top: 9px;
}
.sidebar .search-chkbox-cont{	
	float: left;
	padding: 15px 0% 5px 28%;
}
.sidebar .search-chkbox-cont p{	
	float: left;
    padding: 5px 0% 5px 28px;
    font-size: 0.7rem;
    color: #fff;
    margin: 0;
}
.sidebar .search-chkbox-cont .search-chkbox {
	position: relative;
    float: left;
    width: 100%;
}
.sidebar .search-chkbox-cont .search-chkbox input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 1px;
    left: 1px;
    z-index: 1;
}

.sidebar .search-chkbox-cont .search-chkbox .checkmark{
	position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #8ba9ba;
    border-radius: 5px;
}
.sidebar .search-chkbox-cont .search-chkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.sidebar .search-chkbox-cont .search-chkbox input:checked ~ .checkmark:after {
    display: block;
}
.sidebar .search-chkbox-cont .search-chkbox .checkmark:after {
    left: 7px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sidebar .sensors-search{
    width: 94%;
    float: left;
    margin-left: 15px;
}
.sidebar .sensors-search #myInput {
    background: #101416;
    border: none;
    color: #929292;
    font-size: 0.95rem;
    padding: 14px 5%;
    width: 80%;
    border-radius: 10px;
    outline: none;
}
.sidebar .sensors-search ul.sensors-search-list{
	float: left;
    width: 88%;
    margin: 0;
    padding: 0;
}
.sidebar .sensors-search ul.sensors-search-list li{
    float: left;
    width: 78%;
    background-color: #192025;
    margin-top: 10px;
    border-radius: 10px;
    background-image: url(images/list_icon.svg);
    background-position: 10px 7px;
    background-repeat: no-repeat;
    padding: 17px 3% 18px 20%;
    background-size: 13%;
    color: #a9a9a9;
    font-size: .8rem;
    list-style: none;
    font-weight: 600;
    
}
.sidebar .sensors-search ul.sensors-search-list li:first-child{
    background-color: #101416;
    color: #ffffff;  
}

.iot_content{
	float: left;
    width: 100%;
    position: relative;
    height: 100%;
    
}
.iot_content .smart_em_cont{
	float: left;
    width: 50%;
    padding: 10%;
    box-sizing: border-box;
}
.iot_content .smart_em_cont.smart_em_lft .smart-em{
	display: inline-block;
    width: 40%;
	margin-top: 5rem;
}
.iot_content .smart_em_cont.smart_em_lft .welcome_smart-em{
	display: inline-block;
	width: 100%;
	margin-top: 15px;
}
.iot_content .smart_em_cont.smart_em_rgt .design_angle{
	display: inline-block;
	width: 100%;
	margin-top: 5rem;
}
.sensors-recent{
	float: left;
    width: 94%;
    margin: 80px 0 0 15px;
}
.sensors-recent h6{
    float: left;
    width: 100%;
    color: #fff;
    font-size: 0.95rem;
    margin: 0;
    padding: 0;
}
.sensors-recent ul{
    float: left;
    width: 100%;
    margin-top: 15px;
    margin: 15px 0 0 0;
    padding: 0;
}
.sensors-recent ul li{
	float: left;
    width: 24%;
    margin-right: 9%;
    list-style: none;
}
.sensors-recent ul li a{
	float: left;
	width: 100%;
}
.sensors-recent ul li p{
	float: left;
	width: 100%;
	font-size: 0.7rem;
	color: #fff;
	text-align: center;
	margin-top: 5px;
}

.temp_box .device-card {
    float: left;
    width: 31%;
    margin-left: 1%;
    background: #101416;
    color: #fff;
    height: 130px;
    position: relative;
}
.device-card .temp {
    float: left;
    padding: 27px 5%;
    width: 90%;  
}
.device-card .device_card_icon{
    float: left;
    width: 20%;
}

.device-card h4.device_card_title {
    float: left;
    margin: 18px 0 0 10%;
    padding: 0;
    width: 30%;
}

.device-card .configure-btn {
    float: right;
    width: 32%;
    margin-left: 5%;
    margin-top: 18px;
}
.device-card .configure-btn a{
    background: #797575;
    border: none;
    border-radius: 20px;
    padding: 7px 12px;
    font-size: .8rem;
    color: #fff;
    font-weight: 700;
    float: left;
    vertical-align: top;
    text-decoration: none;
}
.device-card .configure-btn .settings_icon {
    float: left;
    width: 23%;  
}
.device-card .configure-btn span {
    float: left;
    padding: 2px 0 0 7%;
}

.sensor{
    float: left;
    width: 100%;
}
.sensor-lft{
    float: left;
    width: 30%;
}
.device-card .sensor .device_card_icon {  
    width: 50%;
    text-align: center;
    margin: 12px 0 0 22%;
}
.device-card .sensor h4.device_card_title{
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: .95rem;
}
.device-card .sensor .sensor-rht{
    float: left;
    width: 65%;
    margin-top: 25px;
    margin-left:5%;
}
.device-card .sensor .sensor-rht .sensor-rht-list {
    float: left;
    width: auto;
    margin-right: 10px;
    margin-bottom: 20px;
}
.device-card .sensor label {
    float: left;
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    margin-top: 6px;
}
.device-card .sensor .configure-btn {
    float: left;
    margin: 0 0 0 5px;
    width: auto;
}
.device-card .sensor .configure-btn  a{
    font-size: .7rem;
    font-weight: normal;
    padding: 6px 7px;
    background: #3e3d3d;
}
.device-card .sensor .configure-btn.sensor_id-btn a{
    border-radius: 10px;
}
.device-card .sensor .configure-btn  a span {
    float: left;
    padding: 0 0 0 0;
}
.device-card .sensor .configure-btn  a .on_off{
    width: 10px;
    height: 10px;
    float: left;
    border-radius: 50%;
    margin-top: 3px;
    margin-right: 6px;
}
.device-card .sensor .configure-btn  a .on_off.offline{background:#F58220;}
.device-card .sensor .configure-btn  a .on_off.online{background:#7000CB;}
.device-card .sensor .configure-settings{
    width: 25px;
    position: absolute;
    bottom: 2px;
    right: 5px;
}